<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>After School Tutoring</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>
    <div id="container">
        <!--Navigation bar-->
        <div id="nav">
            <nav>
                <span>After School Lesson Booking</span>
            </nav>
            <div>
                <div>
                    <div id="lessons">
                        <p class="header">Lessons</p>
                        <div v-for="(lesson, index) in lessons" id="lessonss">
                            <img v-bind:src="lesson.image" class="pic">
                            <span class="lessonT">{{ lesson.topic }}</span>
                            <span class="idd">ID: {{ lesson._id }}</span>
                            <span class="location">Location: {{ lesson.location }}</span>
                            <span class="price">Price: £{{lesson.price}}</span>
                            <span class="spaces">Availability:
                                <span v-text="lesson.spaces"></span>
                            </span>
                            <div id="b_holder">
                                <span v-if="lesson.spaces &gt; zeroo()"> <a href="#check"><button>Purchase</button></a></span>
                                <span v-else><button hidden></button></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Sort div-->
            <div id="sort">
                <p>Sort Lessons By:</p>
                <ul>
                    <li><button class="sorts" @click="sortTitle()">Subject</button></li>
                    <li><button class="sorts" @click="sortLocation()">Location</button></li>
                    <li><button class="sorts" @click="sortPrice()">Price</button></li>
                    <li><button class="sorts" @click="sortSpaces()">Availability</button></li>
                    <br>
                    <li><button class="sorts" @click="ascending()">Ascending</button></li>
                    <li><button class="sorts" @click="descending()">Descending</button></li>
                </ul>
            </div>
        </div>

        <div>
            <!--Navigation bar-->
            <div id="nav">
                <nav>
                    <!--Content in navigation bar-->
                    <ul>
                        <li>
                            <button @click='showCheckout()' style="width: 200px;" v-if="isCart">
                                {{itemCount}}
                                <span class="fas fa-cart-plus"></span> Go Back
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
            <div>
                <div id="check" class="checkout">
                    <h1>Your Details</h1>
                    <p>Name: <input type="text" id="name" style="margin-left: 20px"></p>
                    <p>Number: <input type="text" id="number" style="margin-left: 6px"></p>
                    <b>Copy and paste the lesson ID here</b>
                    <p>Lesson ID: <input type="text" id="lessonID" style="margin-left: 6px"></p>
                    <p>Spaces: <input type="text" id="spaces" style="margin-left: 6px"></p>
                    
                    <button v-on:click="myFunction()">Submit</button>
                </div>
            </div>  
        </div>
    </div>

    <script src="vue.js"></script>
</body>

</html>
