nav{
    width: 100%;
    height: 112px;
    background-color: #50C878;
    line-height: 112px;
    font-size: 30px;
    padding-left: 10px;
    font-family: cursive;
    color: beige
}
/*Text on navigation bar*/
nav ul li {
    list-style-type: none;
    margin-right: 100px;
    height: 80px;
    line-height: 80px;
    width: 200px;
    font-size: 20px;
    text-align: center;
    font-family: Arial;

}
nav ul li a {
    text-decoration: none;
    color: black
}
/*Content in navigation bar*/
nav ul{
    float: right;
    margin-right: 30px;
}

/*Sections*/
#lessons{
    height: 800px;
    width: 1300px;
    float: left;
}
#sort{
    height: 200px;
    width: 150px;
    float: right;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#lessonss {
    border: 2px solid black;
    width: 250px;
    height: 350px;
    float: left;
    margin: 3px;
    border-radius: 5%;
    text-align: center;
}

.pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px
}

.lessonT{
    font-size: 25px;
    font-family: arial;
    color: teal;
    display: block;
}
.header{
    font-size: 37px;
    text-align: center;
    border-top: 2px solid teal;
    border-bottom: 2px solid teal;
    width: 500px;
    margin-left: 400px;
    font-family: sans-serif;
}

.location, .price, .spaces {
    display: block;
    text-align: left;
    margin-top: 5px;
    margin-left: 5px;
    font-family: cursive;
}

#b_holder{
    margin-top: 20px;
    text-decoration: none;
}

button{
    height: 40px;
    width: 100px;
    border-radius: 10px;
    background-color: teal;
    color: aliceblue
}

.container{
    border: 2px solid red;
    margin-left: auto;
    margin-right: auto;
    height: 800px
}

.cart{
    height: 500px;
    width: 1100px;
    float: left;
}
.checkout{
    border: 2px solid hotpink;
    height: 500px;
    width: 300px;
    float: left;
    margin-left: 50px;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-top: 100px;
}

.btn{
    background-color: teal;
    border-radius: 300px;
    color: antiquewhite;
    padding: 20px 10px;
    border: 2px solid black;
}

.sorts{
    background-color: #b3ffb3;
    margin-top: 10px;    
    list-style-type: none;
    border: 1px solid brown;
    color: brown;
}
